name = "id"
main = "build/worker/shim.mjs"
compatibility_date = "2023-12-01"
kv_namespaces = [
    { binding = "id", id = "a2adaf2900e744a4b68f2dd248ceac52" }
]
send_metrics = false

[build]
command = "cargo install worker-build && worker-build --release"

[observability]
enabled = true
head_sampling_rate = 1 # optional. default = 1.

[placement]
mode = "smart"
