---
name: Release Binaries on Tag

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  RUSTFLAGS: "--deny warnings"

jobs:
  # Check the rust formatting
  format:
    name: Rust Format Check
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Rust Toolchain setup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Format Check
        uses: mbrobbel/rustfmt-check@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  clippy:
    name: Rust Clippy Check
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Rust Toolchain setup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: cargo, clippy

      - name: clippy-sarif setup
        run: cargo install clippy-sarif sarif-fmt

      - name: Run rust-clippy
        run: cargo clippy --all-features --message-format=json | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: false

  # Deploy to the production environment
  deploy:
    name: Deploy to the Production Environment
    runs-on: ubuntu-latest
    needs: [format, clippy]

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Rust Toolchain setup
        uses: dtolnay/rust-toolchain@stable
        with:
          target: wasm32-unknown-unknown

      - name: Build rust code
        run: cargo build

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Wrangler setup
        run: npm install -g wrangler

      - name: Build wasm and deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          wrangler versions upload --name=prod-id --tag=${{ github.ref_name }}
          export ID_VERSION=$(wrangler versions list --name=prod-id --json | jq -r '.[-1].id')
          wrangler versions deploy --name=prod-id --version-id=$ID_VERSION --yes
          export MSG="ID version ${{ github.ref_name }} uploaded and deployed to prod-id as ${ID_VERSION}"
          echo $MSG
          curl -H "Accept: application/json" -H "Content-Type:application/json" -X POST --data "{\"content\": \"$MSG\"}" https://discord.com/api/webhooks/1450559924898762824/gSkKN4fWZ1dQS84POSkW5-7fAvZaOiMNVwrCYcUJU3Yi4SM8Ns-fWbIt3wvLflbAEAiX

      - name: Test the build
        run: |
          sleep 5
          curl -s https://a.ident.me > idm.ip
          curl -s https://id.a1ecbr0wn.com > prod.ip
          if ! cmp -s prod.ip idm.ip; then
            echo "::error title=Deploy Test Failure::IP addresses from id.a1ecbr0wn.com and ident.me do not match"
            echo "Control Response:"
            cat idm.ip
            echo ""
            echo "Prod Response:"
            cat prod.ip
            exit 1
          fi

  release:
    name: Tag Release Package
    runs-on: ubuntu-latest
    needs: [format, clippy, deploy]
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Create CLI Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md
          name: "Release ${{ github.ref_name }}"
          files: |
            LICENSE
